# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
server.pid
out/

.settings/
.classpath
/.project
*.iml
*.ipr
*.iws
.idea/
/target
/war/WEB-INF/lib
/war/WEB-INF/classes
*~
cloudbeesCmd

/conf/cloudbees.conf

/lib/router-*

/modules/cloudbees-*
/modules/fbconnect-*
/modules/gae-*
/modules/siena-*
/modules/router-*
/modules/db-*
/modules/maven-*
/modules/oauth-*
/modules/cobertura-*
/modules/socialoauth-*
