/eclipse
/.settings
/.classpath
/.project
/*.iml
/*.ipr
/*.iws
/tmp
/db/*
/target
/precompiled
/test-result
*~
cloudbeesCmd

/modules/cloudbees-*
/modules/fbconnect-*
/modules/gae-*
/modules/siena-*
/modules/router-*
