# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
server.pid
out/

.settings/
.classpath
/.project
*.iml
*.ipr
*.iws
.idea/
/target
/war/WEB-INF/classes
/war/WEB-INF/lib
*~
cloudbeesCmd
out/

/lib/router-*

/modules/*

