#{extends 'main.html' /}
#{set title:'BreizhLib Ajout' /}

<article>
   <h1>Ajouter un Ouvrage dans la bibliothèque</h1>
   #{form @Livres.save()}
    <p>
        <label for="titre">Titre: </label>
        <input type="text" name="titre" id="titre" value="${params.titre}" />#{error 'titre' /}
    </p>
     <p>
        <label for="editeur">Editeur: </label>
        <input type="text" name="editeur" id="editeur" value="${params.editeur}" />#{error 'titre' /}
    </p>
     <p>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value="${params.description}" />
    </p>
    <p>
        <label for="image">Image: </label>
        <input type="text" name="image" id="image" value="${params.image}" />
    </p>
    <p>
        <p><label for="iSBN">ISBN: </label>
        <input type="text" name="iSBN" id="iSBN" value="${params.iSBN}" />#{error 'titre' /}
    </p>
    <p>
        <input type="submit" value="Ajouter" />
    </p>
   #{/form}
</article>