#{extends 'main.html' /}
#{set title:'BreizhLib Ajout' /}

<article>
    <ul id="onglets">
            <li id="liadd" class="active"><a class="stack" href="javascript:displayHide('add',['addediteur'])">Ouvrage</a>
            </li>
            <li id="liaddediteur"><a class="stack" href="javascript:displayHide('addediteur',['add'])">Editeur</a></li>
        </ul>
        <div id="add" style="visibility:visible; display:block;">
    <h1>&{'views.livres.edit.title'}</h1>
    <section>

        #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
        #{/if}
        #{if flash.success}
        <p class="success">
            &{flash.success}
        </p>
        #{/if}
        <table>
            #{form @Livres.update()}
            <tr>
                <td><label for="titre">&{'views.livres.add.titre.label'}</label></td>
                <td><input type="text" name="titre" id="titre" value="${livre.titre}" size="60"/>#{error 'titre' /}</td>
            </tr>
            <tr>
                <td><label for="editeur">&{'views.livres.add.editeur.label'}</label></td>
                <td><input type="hidden" value="${livre.editeur}"/>
                    <select name="editeur" id="editeur">
                        #{list items:editeurs, as:'editeur'}
                        <option value="${editeur}"
                        #{if livre.editeur.equals(editeur) }selected="true"#{/if}>${editeur}</option>
                        #{/list}
                    </select> #{error 'editeur' /}
                </td>
            </tr>
            <tr>
                <td><label for="image">&{'views.livres.add.image.label'}</label></td>
                <td><input type="text" disabled="true" name="image" id="image" value="${livre.image}" size="60"/>
                    <input type="file" name="imageFile" id="imageFile" multiple="false"
                           accept="image/gif, image/jpeg, image/png"/>
                </td>
            </tr>
            <tr>
                <td><label for="iSBN">&{'views.livres.add.iSBN.label'}</label></td>
                <td><input type="hidden" name="iSBN" id="iSBN" value="${livre.iSBN}"/><input type="text" disabled="true"
                                                                                             value="${livre.iSBN}"
                                                                                             size="13"/>#{error 'iSBN'
                    /}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="&{'views.livres.edit.submit'}"/></td>
            </tr>
        </table>
        #{/form}
            </section>
       </div>
       <div id="addediteur" style="visibility:hidden; display:none;">
            #{include 'Editeurs/add.html' /}
       </div>

</article>