#{extends 'main.html' /}
#{set title:'BreizhLib' /}
#{script 'jquery.bubblepopup.v2.3.1.min.js' /}
#{stylesheet 'jquery.bubblepopup.v2.3.1.css' /}
#{script 'webwidget_rating_simple.js' /}
#{stylesheet 'webwidget_rating_simple.css' /}
<article>
    #{if editeur == null}
    <p>&{'views.livres.index.title'}</p>

    #{/if}
    #{else}
    <p>&{'views.livres.editeur.title'} ${editeur}</p>
    #{/else}

    #{editeurs editeur:editeur,editeurs:editeurs, as:'editeurBook' /}

    #{if paginator.getElements()}
    #{if paginator.getElements().size()}
    #{list items:paginator.getElements(), as:'livre'}
    #{if livre}
    #{livre livre:livre, as:'summary' /}
    #{/if}
    #{/list}
    #{/if}
    #{paginate.controls paginator:paginator /}
    #{/if}
    #{else}
    <p>&{'views.livres.noBookRecorded'}</p>
    #{/else}
</article>

