#{extends 'main.html' /}
#{set title:'BreizhLib Recherche' /}

<article>
     #{form @Livres.postSearch(),enctype:'multipart/form-data'}
       <p><input type="text" name="recherche" id="recherche" value="${recherche}"  size="50"/>
           <select name="type" id="type">
                    <option value="tout" #{if type.equals('tout') }selected="true"#{/if}>Tout</option>
                    <option value="images" #{if type.equals('images') }selected="true"#{/if}>Images</option>
                    <option value="livres" #{if type.equals('livres') }selected="true"#{/if}>Livres</option>
                    <option value="editeurs" #{if type.equals('editeurs') }selected="true"#{/if}>Editeurs</option>
                    <option value="commentaires" #{if type.equals('commentaires') }selected="true"#{/if}>Commentaires</option>
                </select>
           <input type="submit" value="Rechercher"/></p>
    #{/form}
     #{script 'jquery.bubblepopup.v2.3.1.min.js' /}
     #{stylesheet 'jquery.bubblepopup.v2.3.1.css' /}
     #{list items:livres, as:'livre'}
      #{if type.equals('tout') || type.equals('livres')}
        <script type="text/javascript">
            $(document).ready(function(){
               $('.search${livre.id}').CreateBubblePopup();
               $('.search${livre.id}').mouseover(function(){

                        //show the bubble popup with new options
                        $(this).ShowBubblePopup({
                                                    innerHtml:
                                                                '<section class="book">'+
                                                                '<img src="${livre.image}"/>'+
                                                                '</section>',
                                                    innerHtmlStyle: {
                                                                        color: ('#333333'),
                                                                        'text-align':'left'
                                                                    },
                                                    themeName: 	'azure',
                                                    themePath: 	'../public/images/jquerybubblepopup-theme'
                                              });
                    });
            });

            </script>
        <p><a href="@{Livres.show(livre.iSBN)}"> ${livre.titre}</a><img src="@{'/public/images/loupe.png'}" width="16px" height="16px" class="search${livre.id}"/></p>
      #{/if}
      #{if type.equals('images')}
        #{script 'webwidget_rating_simple.js' /}
        #{stylesheet 'webwidget_rating_simple.css' /}
        #{livre livre:livre, as:'summary' /}
      #{/if}
    #{/list}

     #{list items:editeurs, as:'editeur'}
          #{if type.equals('tout') || type.equals('editeurs')}
          <script type="text/javascript">
            $(document).ready(function(){
               $('.searchE${editeur.id}').CreateBubblePopup();
               $('.searchE${editeur.id}').mouseover(function(){

                        //show the bubble popup with new options
                        $(this).ShowBubblePopup({
                                                    innerHtml:

                                                                '<img src="${editeur.image}"/>',
                                                    innerHtmlStyle: {
                                                                        color: ('#333333'),
                                                                        'text-align':'left'
                                                                    },
                                                    themeName: 	'azure',
                                                    themePath: 	'../public/images/jquerybubblepopup-theme'
                                              });
                    });
            });

            </script>
          <p>${editeur.nom} - <a href="${editeur.site}" target="_blank">Site</a> - <a href="@{Livres.editeur(editeur.nom,0)}">Ouvrages</a><img src="@{'/public/images/loupe.png'}" width="16px" height="16px" class="searchE${editeur.id}"/></p>
          #{/if}
          #{if type.equals('images')}
            <section class="book">
                <img src="${editeur.image}" alt="${editeur.nom}" width="100px" />
            </section>
          #{/if}
    #{/list}

    #{list items:commentaires, as:'commentaire'}
          #{if type.equals('tout') || type.equals('commentaires')}
          <p>${commentaire.nom} - ${commentaire.commentaire}</p>
          #{/if}
    #{/list}
</article>