<script language="javascript">
    function  display(id,tab){
       var div = document.getElementById(id);
       if(div.style.visibility == 'hidden'){
           div.style.visibility='visible';
           div.style.display = "block";
           for (var i=0; i < tab.length; ++i)
                hide(tab[i]);
       }else{
         hide(id);
       }
    }

    function  hide(id){
        var div = document.getElementById(id);
        div.style.visibility = 'hidden';
        div.style.display = "none";
    }

</script>
<article>
    <h1>${_livre.titre} #{secure.check 'admin'}<a href="@{Livres.edit(_livre.id)}" ><img src="@{'/public/images/edit.png'}" width="25px" height="25px"/></a> #{/secure.check}</h1>

    #{if _user != null &&  _user.username != null}
       #{social.tweeter text:"Avis sur l'ouvrage ${_livre.titre}",via:_user.username /}
    #{/if}
    #{social.like url:_livre.iSBN,as:'book' /}
    <table> <tr><td>
        <img src="${_livre.image}" width="250px" height="300px"/>
    </td><td>
        #{secure.check 'member'}
            #{if _livre.preview == null || _livre.preview }
                <p><img src="@{'/public/images/loupe.png'}" width="16px" height="16px" /><a href="@{Livres.preview(_livre.iSBN)}" target="_blank">Preview</a></p>
            #{/if}
            #{if play.mode.name() == 'DEV'}

                <p><a href="javascript:display('addBiblio',null)" class="stack" >Ajouter à ma bibliothèque</a>
                    <div id="addBiblio" style="visibility:hidden; display:none;">
                        <p>[] Lus</p>
                        <p>[] A Lire</p>
                    </div>
                </p>
            #{/if}

        <p>
            #{if _livre.reservationEncours == null}
            <span class="${_livre.getEtat().getClasseCss()}"><a href="@{Reservations.reserver(_livre.iSBN)}">&{'views.reservations.reserver.submit'}</a></span>
            #{/if}
        </p>
            <p><a href="@{Reservations.index(_livre.iSBN)}">Historique emprunt</a></p>
        #{/secure.check}

        <p><span class="${_livre.getEtat().getClasseCss()}">&{_livre.etat.getLocalMessage()}</span></p>

        #{tag bookId:_livre.iSBN,tags:_livre.getTags(), as:'book',tagcloudName:'tagcloudlivre' /}

    </td></tr>
    </table>
    #{if _livre.commentaires}
    <h1>${_livre.commentaires.size()} Commentaire${_livre.commentaires.pluralize()} </h1>
    #{if _livre.commentaires.size() > 0}
    #{list items:_livre.commentaires, as:'comment'}
    #{commentaire comment:comment,user:user, as:'summary' /}
    #{/list}
    #{/if}
    #{/if}


    #{if _livre.hasRead()}
    #{commentaire bookId:_livre.iSBN,user:_user,note:_livre.getNote(), as:'post' /}
    #{/if}
</article>