#{extends 'main.html' /}
#{set title:'BreizhLib Commentaires' /}

<article >
    #{if editeurs}
        <h1>${editeurs.size()} Editeur${editeurs.pluralize()} </h1>
        #{if editeurs.size() > 0}
            #{list items:editeurs, as:'editeur'}
                <section>
                    <h1>${editeur.nom}</h1>
                    <span><img src="${editeur.image}" /></span>
                    <footer><a href="${editeur.site}" target="_blank">${editeur.site}</a></footer>
                </section>
            #{/list}
        #{/if}
    #{/if}
    #{else}
        <h1>Aucun Editeur</h1>
    #{/else}
</article>
