#{extends 'main.html' /}
#{set title:'Login' /}

<script type="text/javascript" >
    function  display(id,tab){
       var div = document.getElementById(id);
       if(div.style.visibility == 'hidden'){
           div.style.visibility='visible';
           div.style.display = "block";
           for (var i=0; i < tab.length; ++i)
                hide(tab[i]);
       }
    }

    function  hide(id){
        var div = document.getElementById(id);
        div.style.visibility = 'hidden';
        div.style.display = "none";
    }

</script>

<article>
    <h1 onclick="display('new',['openid','login']);">Nouveau sur BreizhLib ?</h1>
    <div id="new" style="visibility:hidden; display:none;">
    <p><a href="@{security.BasicSecure.newuser()}">Créer un compte</a></p>
    </div>
    <h1 onclick="display('openid',['login','new']);">Connectez-vous avec l'Open-ID </h1>
    <div id="openid" style="visibility:visible; display:block;">
    <p><a href="@{security.Secure.glogin()}"><img src="@{'/public/images/openid-provider/google.png'}"
                                                  alt="Google"/></a>
       <a href="@{security.Secure.fblogin()}"><img src="@{'/public/images/openid-provider/facebook.png'}"
                                                  alt="Facebook"/></a></p>

    <!--p><a href="@{security.Secure.tlogin()}"><img src="@{'/public/images/openid-provider/twitter.png'}"
                                                  alt="Twitter"/></a></p-->

     </div>
        #{if session.get("authfailcount") == null || Integer.valueOf(session.get("authfailcount")) < 3 }
        <h1 onclick="display('login',['openid','new']);">Ouvrez une session</h1>
        <div id="login" style="visibility:hidden;display:none; ">
        #{form @security.BasicSecure.authenticate()}

        #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
        #{/if}
        #{if flash.success}
        <p class="success">
            &{flash.success}
        </p>
        #{/if}

        <p id="username-field">
            <label for="username">Email : </label>
            <input type="text" name="username" id="username" value="${flash.username}"/>
        </p>

        <p id="password-field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" value=""/>
        </p>
        <!-- p id="remember-field">
              <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
              <label for="remember">&{'secure.remember'}</label>
          </p -->
        <p id="signin-field">
            <input type="submit" id="signin" value="Login"/>
        </p>
        #{/form}
        #{/if}
        #{else}
        <h1>nombre d'essais depassés</h1>
        #{/else}
    </div>
</article>