<aside id="leftbar">
    <h1>Bibliothèque</h1>
     <ul>
         <li><a href="@{Livres.add()}">&{'views.main.menu.add'}</a></li>
         <li><a href="@{Reservations.reservations()}">&{'views.main.menu.reservations'}</a></li>
         <li><a href="@{Pictures.explore()}">Explorateur</a></li>
         <li><a href="@{Faqs.add()}">Faq</a></li>
     </ul>
     <h1>Gestion Utilisateurs</h1>
     <ul>
        <li><a href="@{Users.index()}">Utilisateurs</a></li>
     </ul>
     <h1>Synchronisation</h1>
     <ul>
         <li><a href="@{Export.index()}">Export</a></li>
         <li><a href="@{Import.index()}">Import</a></li>
     </ul>
</aside>