<html>
<body>
<head>

</head>
<body><p>A l'attention de : ${user.nom} ${user.prenom}</p>
<p>Vous avez oublié votre mot de passe BreizhLib. Pour des raisons de sécurité, nous ne vous le renvoyons pas par email.</p>

<p>Utilisez le lien ci-dessous pour définir votre nouveau mot de passe : </p>

<p><a href="@{security.BasicSecure.changePassword(randomID)}">Cliquez ici pour créer votre nouveau mot de passe</a></p>

<p>Après avoir réinitialisé votre mot de passe, vous pourrez l'utiliser pour vous connecter sur <a href="@{Application.index()}">BreizhLib</a>. <br/>

</p>
</body>
</html>