.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

.disponible {
    background: #00cc00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.disponible a {
    color: white;
    text-decoration: none;
}

.reserve {
    background: #ff6600;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #996600;
}

.reserve a {
    color: white;
    text-decoration: none;
}

.indisponible {
    background: #ff0033;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.indisponible a {
    color: white;
    text-decoration: none;
}

.indice {
    background: #ff6600;
    color: white;
    font-size: 50%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #996600;
    vertical-align: sub;
}

.method {
    background: #3366ff;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.method a {
    color: white;
    text-decoration: none;
}

.actif {
    background: #ff9933;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.actif a {
    color: white;
    text-decoration: none;
}

.inactif {
    background: #cccccc;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.inactif a {
    color: black;
    text-decoration: none;
}

a.stack {
    color: black;
    text-decoration: none;
}

/******************************************
 *
 *             Pagination
 *
 ******************************************/

#pagination {
    clear: left;
    list-style: none;
    color: #869AB1;
    font-size: 90%;
    height: 10px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    top: 0;
    float: left;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    top: 0;
    float: right;
}

#pagination #next:after {
    content: ' >>';
}

/******************************************
 *
 *             Footer
 *
 ******************************************/

#footer-area {
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
margin-right: 20px;
margin-left: 20px;
width: 190px;
}

/******************************************
 *
 *             TagCloud
 *
 ******************************************/

.tagcloud a {
    color: #006699;
}

.tagcloud {
    width: 10px;
    height: 100px;
}

.tagcloud a{
     color: #006699;
     text-decoration:none;
     /*border-bottom:1px dotted #006699;*/
     padding-bottom:1px;
     margin: 4px;
}

.tagcloud a:hover {
      text-decoration:none;
      border-bottom:2px solid #006699;
}

/******************************************
 *
 *             Profil
 *
 ******************************************/


aside#leftbar {
	width: 200px;
    height: 400px;
    float: left;
}



#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #ffffff;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #000000;
    text-decoration : none;
    padding : 4px;
}

#menu
{
        padding-bottom : 25px;
}