form .error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}


/** Pagination **/

#pagination {
    list-style: none;
    vertical-align: center;
    color: #869AB1;
    font-size: 90%;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}