.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

.disponible {
    background: #00cc00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.disponible a {
    color: white;
    text-decoration: none;
}

.reserve {
    background: #ff6600;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #996600;
}

.reserve a {
    color: white;
    text-decoration: none;
}

.indisponible {
    background: #ff0033;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #006600;
}

.indisponible a {
    color: white;
    text-decoration: none;
}

.indice {
    background: #ff6600;
    color: white;
    font-size: 50%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #996600;
    vertical-align: sub;
}

/** Pagination **/

#pagination {
    clear: left;
    list-style: none;
    color: #869AB1;
    font-size: 90%;
    height:10px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    top: 0;
    float: left;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    top: 0;
    float: right;
}

#pagination #next:after {
    content: ' >>';
}

