html {
    font-family: Verdana;
    font-size: 11px;
    color: #353535;
    background: #fafafb;
    height: 100%;
}

body {
    width: 1009px;
    margin-left: auto;
    margin-right: auto;

}

header {
    padding: 10px;
}

header img {
    height: 70px;
}

header .rss {
    height: 16px;
    width: 16px;
    float: right;
}
footer .rss {
    height: 16px;
    width: 16px;
}

header h1 {
    float: right;
    margin: 20px 20px 0 0;
}

nav ul {
    height: 40px;
    padding: 0;
    margin: 0;
    background: #e8e5e5;
    background-image: -moz-linear-gradient(top, #f1efef, #cdcbcb 20px, #e8e5e5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1efef), color-stop(0.5, #cdcbcb), to(#e8e5e5));
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #cdcbcb;
}

nav li {
    color: #485e8b;
    font-size: 11px;
    font-weight: bold;
    float: left;
    line-height: 20px;
    list-style: none;
    padding: 10px;
}

nav li a {
    color: #485e8b;
    text-decoration: none;
}

nav li ul {
display: none;
}

nav ul li:hover {
    background: #ffffff;
    background-image: -moz-linear-gradient(top, #ffffff, #cdcbcb 20px, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.5, #cdcbcb), to(#ffffff));
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #999999;

}

nav ul li ul {
    background: #e8e5e5;
    background-image: -moz-linear-gradient(top, #f1efef, #cdcbcb 20px, #e8e5e5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1efef), color-stop(0.5, #cdcbcb), to(#e8e5e5));
}

nav li:hover ul {
margin: 10px  0 0 0;
display: block;
position: absolute;
}

#main {
     float: left;
     width: 70%;
}

#mainFull {
     float: left;
     width: 100%;
}

#sidebar1 {
    float: left;
    padding-left: 25px;
    width: 120px;
}

article {
    clear: left;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

    height: 100%;
    min-height: 500px;
}

article p {
    margin: 10px 0 0 10px;
}

.miniature {
    float: left;
    background: #f7f5f5;
    border-radius: 5px 20px 0 10px;
    width: 42%;
    margin: 10px 15px 10px 14px;
}


.book {
    float: left;
    width: 15%;
    margin: 10px 15px 10px 14px;
}

.full {
    float: left;
    background: #f7f5f5;
    border-radius: 5px 20px 0 10px;
    width: 95%;
    margin: 10px 15px 10px 14px;
}

section h1 a {
    font-size: 12px;
    padding: 0 0 0 20px;
    color: #303030;
    text-decoration: none;
    text-shadow: 3px 3px 7px #333;
}

section.book img {
    width: 100px;
	height: 140px;
    margin: 0 10px 10px 20px;
    float: left;
}

section img {
    width: 100px;
    margin: 0 10px 10px 20px;
    float: left;
}

section p {
    padding-right: 10px;
}

section footer {
    text-align: right;
    padding: 4px;
    border-radius: 0 0 0 10px;
    background: #f7f5f5;
}

footer {
    clear: left;
    font-weight: bold;
    padding-top : 10px;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #e8e5e5;
    background: #e8e5e5;
    background-image: -moz-linear-gradient(top, #f1efef, #cdcbcb 20px, #e8e5e5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1efef), color-stop(0.5, #cdcbcb), to(#e8e5e5));
}