html {
	/*background : #D4D7DB url(../images/body.jpg) top center repeat-y;*/
	background : #fff;
}

body {
    width: 1009px;
    margin-left: auto;
    margin-right: auto;
	
    /*font: 12px 'NobileRegular', Arial, sans-serif;*/
    font: 13px Arial, sans-serif;
	
	color: #000;
}

header {
    padding:  0 10px;
	background: #1b4269 url(../images/header.png) no-repeat top left;
	
	margin-top: 10px;
	height: 200px;
	
	border-radius: 3px 3px 0 0;
	
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

header .rss {
    height: 16px;
    width: 16px;
    float: right;
}
footer .rss {
    height: 16px;
    width: 16px;
}

header h1 {
	font : 250% 'BlackJackRegular', Arial, sans-serif;
	letter-spacing: 0;
	
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 3px #000;
	
    float: right;
    margin: 20px 20px 0 0;
}

header p {
	text-align: right;
	padding-right: 25px;
}

header a {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

nav ul {
    height: 40px;
    padding: 0;
    margin: 0;
	
	border-radius: 0 0 2px 2px ;
	background: #dfdfdf url(../images/nav.jpg) repeat-x top left;
	
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}

nav li {
    float: left;
    height: 40px;
	
    list-style: none;
}

nav li .active {
	font-weight:bold;
}

nav li a {
	display: block;
    text-decoration: none;

	line-height:40px;
	padding:  0 20px;

	color: #000;
	text-shadow: 1px 1px 1px #fff;

	border-left: 1px solid #efefef;
	border-right: 1px solid #dcdcdc;
}

nav li a.first {
	border-left: 0;
}

nav li a.last {
	border-right: 0;
}

nav li a:hover {
	background: #4c4c4d url(../images/nav-hover.jpg) repeat-x top left;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

nav li a.first:hover{
	border-left: 0;
	border-radius: 0 0 0 2px ;
}

nav li ul {
display: none;
}

nav ul li:hover {

}

nav ul li ul {
    background: #e8e5e5;
    background-image: -moz-linear-gradient(top, #f1efef, #cdcbcb 20px, #e8e5e5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1efef), color-stop(0.5, #cdcbcb), to(#e8e5e5));
}

nav li:hover ul {
margin: 10px  0 0 0;
display: block;
position: absolute;
}

#main {
     float: left;
     width: 75%;
}

#sidebar {
    float: left;
    width: 25%;
}

#sidebar div.title {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 2px #888;
	
	height: 40px;
	background: #fff url(../images/nav-hover.jpg) repeat-x top left;
	border-radius: 3px 3px 0 0;
	
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;

	line-height: 40px;
	margin-top: 10px;
}

#sidebar div.cloudtags div.title span{	
	display: block;
	padding: 0 5px 0 50px;
	line-height: 40px;
	background: transparent url(../images/cloud.png) no-repeat;
	background-position: 5px 0;
}

#sidebar div.tweeter div.title span{	
	display: block;
	padding: 0 5px 0 50px;
	line-height: 40px;
	background: transparent url(../images/tweet.png) no-repeat;
	background-position: 5px 0;
}

#sidebar div.content {
	background-color: #fff;
	border-radius: 0 0 2px 2px;
	
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
	margin-bottom: 10px;
	
	text-align:center;
	padding: 5px;
	
	max-height: 300px;
	overflow: auto;
}

article {
    clear: left;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

    height: 100%;
    min-height: 500px;
}

article p {
    margin: 10px 0 0 10px;
}

.miniature {
    float: left;
    background: #f7f5f5;
    border-radius: 5px 20px 0 10px;
    width: 42%;
    margin: 10px 15px 10px 14px;
}


.book {
    float: left;
    width: 15%;
    margin: 10px 15px 10px 14px;
}

.full {
    float: left;
    background: #f7f5f5;
    border-radius: 5px 20px 0 10px;
    width: 95%;
    margin: 10px 15px 10px 14px;
}

section h1 a {
    font-size: 12px;
    padding: 0 0 0 20px;
    color: #303030;
    text-decoration: none;
    text-shadow: 3px 3px 7px #333;
}

section.book img {
    width: 100px;
	height: 140px;
    margin: 0 10px 10px 20px;
    float: left;
}

section img {
    width: 100px;
    margin: 0 10px 10px 20px;
    float: left;
}

section p {
    padding-right: 10px;
}

section footer {
    text-align: right;
    padding: 4px;
}

footer {
    clear: left;
	font-size: 0.95em;
	
	color: #888;
	text-shadow: 1px 1px 1px #fff;
	
    padding-top : 5px;
    height: 20px;
	
	background: #fff url(../images/nav.jpg) repeat-x top left;
	border-radius: 2px;
	
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888;
}
/*-----------------------*/
/* Elements HTML de page */
/*-----------------------*/

h2, h3, h4 {
	color: #000;
	font-weight: normal;
	text-shadow: 1px 1px 2px #888;
}

/*------------------------*/
/*         Liens          */
/*------------------------*/

a {
	text-decoration: none;
	color: #D82B00;
	text-shadow: 1px 1px 2px #ccc;
}

a:hover {
	color: red;
	text-shadow: 1px 1px 2px #fff;
}

img {
	border: 0; /* suppresion des bordures IE*/
}

