#{extends 'main.html' /}
#{set title:'BreizhLib' /}

#{include 'Users/menu.html' /}
<div>

    <section>
        <h1>Mes infos</h1>
        <img src="http://www.gravatar.com/avatar/${user.gravatarhash(user.email).raw()}"/>
        <table>
        <tr><td>Nom : </td><td>${user.nom}</td></tr>

         <tr><td>Prénom : </td><td>${user.prenom}</td></tr>


         <tr><td>Email : </td><td>${user.email}</td></tr>
        #{list items:user.getExtraEmail(), as:'email'}
            <tr><td></td><td>${email}</td></tr>
        #{/list}

        #{if user.username != null }
              <tr><td>Nom d'utilisateur :</td><td> ${user.username}</td></tr>
        #{/if}
        </table>
    </section>
    #{if session.get("secureimpl") != null && session.get("secureimpl") == "basic"}
    <section class="full">
        <h1>Modifier mon mot de passe</h1>

        #{form @Users.postEdit(),enctype:'multipart/form-data'}
        <table>
            <tr>
                <td><label for="oldpwd">ancien mot de passe : </label></td>
                <td><input type="password" name="nom" id="oldpwd" size="20"/></td>
            </tr>
            <tr>
                <td><label for="pwd">mot de passe : </label></td>
                <td><p>#{error 'pwd' /}</p><input type="password" name="pwd" id="pwd" size="20"/></td>
            </tr>
            <tr>
                <td><label for="pwdconfirm">confirmation du mot de passe : </label></td>
                <td><p>#{error 'pwdconfirm' /}</p><input type="password" name="pwdconfirm" id="pwdconfirm" size="20"/>
                </td>
            </tr>
        </table>
        <footer>
            <input type="submit" value="Modifier"/>
        </footer>
        #{/form}
    </section>
    #{/if}
</div>