#{extends 'main.html' /}
#{set title:'BreizhLib Commentaires' /}

<article>

    #{if commentaires}
        <h1>${commentaires.size()} Commentaire${commentaires.pluralize()} </h1>
        #{if commentaires.size() > 0}
            #{list items:commentaires, as:'comment'}
                #{commentaire comment:comment, as:'defaut' /}
            #{/list}
        #{/if}
        <a href="@{Commentaires.index(0,'date')}">&{'views.commentaires.tousLesCommentaires'}</a>
    #{/if}
    #{else}
        <h1>&{'views.commentaires.aucunCommentaire'}</h1>
    #{/else}
</article>
