#{extends 'main.html' /}
#{set title:'BreizhLib Commentaires' /}

<article>

    #{if commentaires}
            <h1>${commentaires.size()} Commentaire${commentaires.pluralize()} </h1>
            #{if commentaires.size() > 0}
                    #{list items:commentaires, as:'comment'}
                         #{commentaire comment:comment, as:'defaut' /}
                     #{/list}
            #{/if}
    #{/if}
    #{else}
        <h1>0 Commentaire</h1>
    #{/else}
    <a href="@{Commentaires.index()}">Tous les Commentaires</a>
</article>
