#{extends 'main.html' /}
#{set title:'BreizhLib Import' /}

<article>

    <p>Mise a jour de l'apicode pour le serveur par défaut</p>
    #{form @Import.code(),enctype:'multipart/form-data'}
    <input type="text" name="apicode" id="apicode" value="${apicode}" size="50"/>
    <input type="submit" value="update"/>
    #{/form}

    <h1>Import Public</h1>

    <p><a href="@{Import.books(true)}">Import Ouvrages</a>
        #{if ouvragesNb}
        -> ${ouvragesNb} Ouvrages importés
        #{/if}</p>

    <p><a href="@{Import.editeurs(true)}">Import Editeurs</a>
        #{if editeursNb}
        -> ${editeursNb} Editeurs importés
        #{/if}</p>

    <h1>Import Admin</h1>

    <p> 1 : <a href="@{Import.users(true)}">Import Utilisateurs</a>
        #{if usersNb}
        -> ${usersNb} Utilisateurs importés
        #{/if}</p>

    <p> 2 : <a href="@{Import.commentaires(true)}">Import Commentaires</a>
        #{if commentairesNb}
        -> ${commentairesNb} Commentaires importés
        #{/if}</p>

    <p> 3 : <a href="@{Import.reservations(true)}">Import Reservations</a>
        #{if reservationsNb}
        -> ${reservationsNb} Reservations importés
        #{/if}</p>

</article>


