<p>
    #{if _editeur == null}
             <span class="actif">
         #{/if}
         #{else}
           <span class="inactif">
         #{/else}
         <a href="@{Livres.index(0,_tri)}">All</a></span>

                 %{
                   index = 1;
                 }%
        #{list items:_editeurs, as:'editeurFilter'}
                 #{if index != 0} - #{/if}#{if _editeur != null && _editeur.equals(editeurFilter)}
                      <span class="actif">

                    #{/if}
                    #{else}
                        <span class="inactif">
                    #{/else}
                <a href="@{Livres.editeur(editeurFilter,0,_tri)}">${editeurFilter}</a> </span>
                #{if index < 5}
                          %{
                            index = index+1;
                          }%
                #{/if}
                #{else}
                   %{
                   index = 0;
                   }%
                    </p><p>
                #{/else}
        #{/list}
</p>
