#{extends 'main.html' /}
#{set title:'BreizhLib' /}

<article>
    <p>&{'views.reservations.index.title'} <a href="@{Livres.show(livre.iSBN)}">${livre.titre}</a></p>

    <ul id="onglets">
            <li id="lireservations" class="active"><a class="stack"
                                                      href="javascript:displayHide('reservations',['emprunts'])">&{'views.reservations.index.title2'}</a>
            </li>
            <li id="liemprunts"><a class="stack" href="javascript:displayHide('emprunts',['reservations'])">&{'views.reservations.index.title3'}</a>
            </li>
        </ul>
    <div id="reservations" style="visibility:visible; display:block;">
        #{if livre.reservation}

        <section class="miniature">
            <h1>${livre.reservation.nom} ${livre.reservation.prenom}</h1>

            <p><span class="${livre.getEtat().getClasseCss()}">&{livre.etat.getLocalMessage()}</span></p>

            <p>&{'views.reservations.date'}
                ${livre.reservation.dateReservation.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
            #{if livre.reservation.datePret == null}
            #{if livre.reservation.user.equals(user)}
            <footer>
                        <span class="indisponible">
                            <a href="@{Reservations.annuler(livre.reservation.id)}">&{'views.reservations.index.annuler'}</a>
                        </span>
            </footer>
            #{/if}
            #{/if}
            #{else}
            <p>&{'views.reservations.dateEmprunt'}
                ${livre.emprunt.dateEmprunt.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
            #{/else}
        </section>
        #{/if}
        #{else}
        <p>&{'views.reservations.aucuneReservation'}</p>
        #{/else}
    </div>
    <div id="emprunts" style="visibility:hidden; display:none;">
        #{if emprunts.size() > 0}
        #{list items:emprunts, as:'emprunt'}
        <section class="miniature">
            <h1>${emprunt.nom} ${emprunt.prenom}</h1>

            <p>&{'views.reservations.dateEmprunt'} ${emprunt.dateEmprunt.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
            #{if emprunt.dateRetour != null}
            <p>&{'views.reservations.dateRetour'} ${emprunt.dateRetour.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
            #{/if}
        </section>
        #{/list}
        #{/if}
        #{else}
        <p>&{'views.reservations.index.aucunEmprunt'}</p>
        #{/else}
    </div>
</article>