#{extends 'main.html' /}
#{set title:'BreizhLib' /}

<article>
    <section>
    <h1>Réserver le livre</h1>
     #{form @Reservations.postReservation(id)}
            <p>
                 <p>#{error 'nom' /} </p>
                 <p><label for="nom">Nom :</label>
                 <input type="text" name="nom" id="nom" value="${params.nom}" /> </p>
            </p>
            <p>
                <p>#{error 'prenom' /}</p>
                <p><label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom"  value="${params.prenom}" />  </p>
            </p>
            <p>
                <p>#{error 'email' /}</p>
                <p><label for="email">Email :</label>
                <input type="email" name="email" id="email"  value="${params.email}" />  </p>
            </p>
            <footer>
                <input type="submit" value="Réserver" />
            </footer>
     #{/form}
    </section>
</article>