#{extends 'main.html' /}
#{set title:'BreizhLib' /}

<article>
    <h1>&{'views.reservations.reservations.title'}</h1>
    #{if reservations.size() > 0}
    #{list items:reservations, as:'emprunt'}
    <section class="miniature">
        <h1><a href="@{Livres.show(emprunt.empruntEncours.iSBN)}">${emprunt.empruntEncours.titre}</a>

            <p>&{'views.reservations.reservations.reservePar'} ${emprunt.nom} ${emprunt.prenom}</p></h1>
        <p>&{'views.reservations.date'} ${emprunt.dateReservation.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
        <footer><span class="indisponible"><a href="@{Reservations.pretLivre(emprunt.id)}">&{'views.reservations.reservations.emprunt.submit'}</a></span>
        </footer>
    </section>
    #{/list}
    #{/if}
    #{else}
    <p>&{'views.reservations.aucuneReservation'}</p>
    #{/else}

    <h1>&{'views.reservations.reservations.title2'}</h1>
    #{if emprunts.size() > 0}
    #{list items:emprunts, as:'emprunt'}
    <section class="miniature">
        <h1><a href="@{Livres.show(emprunt.empruntEncours.iSBN)}">${emprunt.empruntEncours.titre}</a>

            <p>&{'views.reservations.reservations.empruntePar'} ${emprunt.nom} ${emprunt.prenom}</p></h1>
        <p>&{'views.reservations.date'} ${emprunt.dateReservation.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>

        <p>&{'views.reservations.dateEmprunt'} ${emprunt.dateEmprunt.format('dd MMMM yyyy HH:mm:ss', 'fr')}</p>
        <footer><span class="indisponible"><a href="@{Reservations.rendreLivre(emprunt.id)}">&{'views.reservations.reservations.rendu.submit'}</a></span>
        </footer>
    </section>
    #{/list}

    #{/if}
    #{else}
    <p>&{'views.reservations.aucunEmprunt'}</p>
    #{/else}
</article>