#{extends 'main.html' /}
#{set title:'BreizhLib' /}

<article>
    <h1>Réservation en cours</h1>
    #{if reservations.size() > 0}
       #{list items:reservations, as:'emprunt'}
         <section>
          <h1><a href="@{Livres.show(emprunt.empruntEncours.id)}">${emprunt.empruntEncours.titre}</a> <p>réservé par ${emprunt.nom} ${emprunt.prenom}</p></h1>
          <p>Date reservation ${emprunt.dateReservation}</p>
          <footer><span class="indisponible"><a href="@{Reservations.pretLivre(emprunt.id)}">Marquer le livre emprunté</a></span></footer>
       </section>
       #{/list}
    #{/if}
    #{else}
        <p>Aucune réservation en cours</p>
    #{/else}
</article>

<article>
    <h1>Emprunt en cours</h1>
    #{if empruints.size() > 0}
       #{list items:empruints, as:'emprunt'}
         <section>
          <h1><a href="@{Livres.show(emprunt.empruntEncours.id)}">${emprunt.empruntEncours.titre}</a> <p>emprunté par ${emprunt.nom} ${emprunt.prenom}</p></h1>
          <p>Date reservation ${emprunt.dateReservation}</p>
          <p>Date emprunt ${emprunt.dateEmprunt}</p>
          <footer><span class="indisponible"><a href="@{Reservations.rendreLivre(emprunt.id)}">Marquer le livre rendu</a></span></footer>
       </section>
       #{/list}

    #{/if}
    #{else}
        <p>Aucun emprunt en cours</p>
    #{/else}
</article>