#{if _as == 'summary'}
    <section>
        <h1>${_comment.nom}</h1>
        <p>${_comment.commentaire}</p>
        <footer>${_comment.dateAjout}</footer>
    </section>
#{/if}


#{if _as == 'post'}
<article>
    <section>
    <h1>&{'views.tags.commentaire.post.title'}</h1>
     #{form @Livres.postComment(_bookId)}
            <p>
                 <p>#{error 'nom' /} </p>
                 <p><label for="nom">&{'views.tags.commentaire.post.nom.label'}</label>
                 <input type="text" name="nom" id="nom" value="${params.nom}" /> </p>
            </p>
            <p>
                <p>#{error 'content' /}</p>
                <p><label for="content">&{'views.tags.commentaire.post.content.label'}</label>
                <textarea name="content" id="content">${params.content}</textarea>  </p>
            </p>
            <footer>
                <input type="submit" value="&{'views.tags.commentaire.post.submit'}" />
            </footer>
     #{/form}
    </section>
</article>
#{/if}
