#{if _as == 'summary'}
<section>
        <p> #{stars max:5, value:_comment.note,id:_comment.id,as:'static'   /}</p>
        <p>${_comment.commentaire}</p>
        <footer>${_comment.nom} le ${_comment.dateAjout.format('dd MMMM yyyy HH:mm:ss', 'fr')}</footer>
</section>
#{/if}

#{if _as == 'defaut'}
    <section>
        <h1><a href="@{Livres.show(_comment.livre.iSBN)}">${_comment.livre.titre}</a></h1>
        <img src="${_comment.livre.image}"/>
        <p> #{stars max:5, value:_comment.note,id:_comment.id,as:'static'   /}</p>
        <p>${_comment.commentaire}</p>
        <footer>${_comment.nom} le ${_comment.dateAjout.format('dd MMMM yyyy HH:mm:ss', 'fr')}</footer>
    </section>
#{/if}


#{if _as == 'post'}
<article>
    <h1>&{'views.tags.commentaire.post.title'}</h1>
    <section>
     #{form @Livres.postComment(_bookId)}
        <table>
            <tr>
                 <td></td><td>#{error 'nom' /}</td>
            </tr>
             <tr>
                 <td><label>&{'views.tags.commentaire.post.note.label'}</label></td>
                 <td>#{stars max:5, value:_note,id:'note'   /}</td>
            </tr>
            <tr>
                 <td><label for="nom">&{'views.tags.commentaire.post.nom.label'}</label></td>
                 <td><input type="text" name="nom" id="nom" value="${_user.toString()}" /></td>
            </tr>
            <tr>
                 <td></td><td>#{error 'content' /}</td>
            </tr>
            <tr>
                <td><label for="content">&{'views.tags.commentaire.post.content.label'}</label></td>
                <td><textarea name="content" id="content" rows="5" cols="40">${params.content}</textarea></td>
           <tr>
         </table>
            <footer>
                <input type="submit" value="&{'views.tags.commentaire.post.submit'}" />
            </footer>
     #{/form}
    </section>
</article>

#{/if}
