#{if _as == 'list'}
<p>
         #{if _editeur == null}
             <span class="indisponible">
         #{/if}
         #{else}
           <span class="disponible">
         #{/else}
         <a href="@{Livres.index(0)}">All</a></span>

        #{list items:_editeurs, as:'editeurFilter'}
                - #{if _editeur != null && _editeur.equals(editeurFilter)}
                      <span class="indisponible">

                    #{/if}
                    #{else}
                        <span class="disponible">
                    #{/else}
                <a href="@{Livres.editeur(editeurFilter,0)}">${editeurFilter}</a></span>
        #{/list}
     </p>

#{/if}
