<footer>
    <section id="footer-area">
        <aside class="footer-segment">
            &{'views.main.footer'}
        </aside>

        <aside class="footer-segment-right">
            <a href="http://feeds.feedburner.com/Breizhlib" target="_blank"><img class="rss"
                                                                                 src="@{'/public/images/rss.png'}"/>
                S'abonner</a>
        </aside>
    </section>
</footer>
<p style="text-align: center;"><a href="@{Faqs.index()}">Faq</a> - <a href="@{AndroidAPI.android()}">Android</a>#{secure.check 'member'} - <a href="@{AndroidAPI.index()}">API</a>#{/secure.check}</p>