 <footer>&{'views.main.footer'}
        <section id="footer-area">
            <aside class="footer-segment">
                <h1>Tags</h1>
                #{tag tags:_tags,tagcloudName:'tagcloudfooter' /}
            </aside>
            #{if play.mode.name() == 'DEV'}
            <aside class="footer-segment">
                   <p><a href="http://feeds.feedburner.com/Breizhlib" target="_blank"><img class="rss" src="@{'/public/images/rss.png'}"/>Ouvrages</a></p>
                   <p><a href="@{Application.index()}commentaires.xml" target="_blank"><img class="rss" src="@{'/public/images/rss.png'}"/>Commentaires</a></p>

            </aside>
            #{/if}
            <aside class="footer-segment"> </aside>
    </section>
</footer>