<section>
        <h1>Apache Maven</h1>
        <img src="http://www.pearson.fr/Resources/titles/27440100730370/Images/27440100730370L.gif"/>

        <p>Maven, l'outil open-source de gestion et d'automatisation de d?veloppement Java, a le vent en poupe. Les
            raisons : il syst?matise, rationalise et simplifie le d?veloppement collaboratif de projets Java, faisant
            gagner aux entreprises comme aux d?veloppeurs du temps et de l'argent !</p>
        <footer>Disponible</footer>
</section>

