#{if _as == 'summary'}
<script type="text/javascript">
$(document).ready(function(){
   $('.popup${_livre.id}').CreateBubblePopup();
   $('.popup${_livre.id}').mouseover(function(){

			//show the bubble popup with new options
			$(this).ShowBubblePopup({
										innerHtml: "${_livre.titre}"+
                                                   "<p>${_livre.editeur}</p>"+
                                                   '<p>'+
                                                        #{if _livre.reservationEncours == null}
                                                        '<span class="${_livre.getEtat().getClasseCss()}">${_livre.getEtat().getClasseCss()}</span>'+
                                                        #{/if}
                                                    '</p>'+
                                                     #{if _livre.getCommentaires().size() > 0}
                                                    '${_livre.getCommentaires().size()} Commentaire${_livre.getCommentaires().pluralize()}'+
                                                    #{/if}
                                                     #{else}
                                                    '&{"views.commentaires.aucunCommentaire"}'+
                                                     #{/else}
                                                    '<p> #{stars max:5, value:_livre.getNote(),id:_livre.id,as:'script' /}</p>',
										innerHtmlStyle: {
															color: ('#333333'),
															'text-align':'left'
														},
										themeName: 	'azure',
										themePath: 	'../public/images/jquerybubblepopup-theme'
								  });
		});
});

</script>
<section class="book">
    <a href="@{Livres.show(_livre.iSBN)}"  class="popup${_livre.id}"/> <img src="${_livre.image}"/></a>
</section>

#{/if}


#{if _as == 'full'}
<article>
    <h1>${_livre.titre} #{secure.check 'admin'}<a href="@{Livres.edit(_livre.id)}" ><img src="@{'/public/images/edit.png'}" width="25px" height="25px"/></a> #{/secure.check}</h1>

    #{if _user.username != null}
       <a href="http://twitter.com/share" class="twitter-share-button" data-text="Avis sur l'ouvrage ${_livre.titre}" data-count="horizontal" data-via="${_user.username}" data-lang="fr">Tweeter</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    #{/if}
    <table> <tr><td>
        <img src="${_livre.image}" width="250px" height="300px"/>
    </td><td>
        <p>
            #{if _livre.reservationEncours == null}
            <span class="${_livre.getEtat().getClasseCss()}"><a href="@{Reservations.reserver(_livre.iSBN)}">&{'views.reservations.reserver.submit'}</a></span>
            #{/if}
        </p>
        #{secure.check 'member'}
            <p><a href="@{Reservations.index(_livre.iSBN)}">Historique emprunt</a></p>
        #{/secure.check}

        <p><span class="${_livre.getEtat().getClasseCss()}">&{_livre.etat.getLocalMessage()}</span></p>

        #{tag bookId:_livre.iSBN,tags:_livre.getTags(), as:'book',tagcloudName:'tagcloudlivre' /}

    </td></tr>
    </table>
    #{if _livre.commentaires}
    <h1>${_livre.commentaires.size()} Commentaire${_livre.commentaires.pluralize()} </h1>
    #{if _livre.commentaires.size() > 0}
    #{list items:_livre.commentaires, as:'comment'}
    #{commentaire comment:comment,user:user, as:'summary' /}
    #{/list}
    #{/if}
    #{/if}


    #{if _livre.hasRead()}
    #{commentaire bookId:_livre.iSBN,user:_user,note:_livre.getNote(), as:'post' /}
    #{/if}
</article>

#{/if}
