#{if _as == 'book'}
    #{secure.check 'admin'}
    #{form @tag.Tags.addForbook(_bookId)}
    <p><input type="text" name="tag" id="tag"/><input type="image" src="@{'/public/images/tag_blue_add.png'}"/></p>
    #{/form}
    #{/secure.check}
#{/if}
#{if _tags}
    #{script 'jquery.tagsphere.js' /}
    <script type="text/javascript">
        $(function() {
            $('#tagwidget').tagcloud({centrex:${_width/2}, centrey:${_height/2}});
        });
    </script>
    <style type="text/css">
        body {
            font-family: arial, sans-serif;
        }

        #tagwidget li a {
            text-decoration: none;
            color: white;
        }

        #tagwidget ul {
            list-style-type: none;
        }
    </style>


    #{if _tags.size()}
        <div id="tagwidget" style="width:${_width}px; height:${_height}px; ">
            <ul>
                #{list items:_tags, as:'tag'}
                    #{if tag}
                        <li><a href="/tag/${tag.name}" style="color:#6666ff;" rel="${tag.nb}">${tag.name}</a></li>
                    #{/if}
                #{/list}
            </ul>
        </div>
    #{/if}
#{/if}
