<div class="cloudtags">
<div class="title"><span>Tags</span></div>
<div class="content" id="tag" style="visibility:visible; display:block;">
#{tag3d tags:_tags,tagcloudName:'tagcloudfooter',width:200,height:200 /}
</div>
</div>

<div class="tweeter">
<div class="title"><span>Tweets</span></div>
<div class="content" id="tweets" style="width:240px;visibility:visible; display:block;">
    <!-- Tweets will get loaded from jQuery -->
</div>
</div>

<div class="commentaires">
<div class="title"><span>Commentaires récents</span></div>
<div class="content" id="comments" style="visibility:visible; display:block;">
#{wcomments comments:_lcommentaires,width:200,height:200 /}
</div>
</div>
