        <h1><a class="stack" href="javascript:display('login',['openid','new']);">Ouvrez une session</a></h1>
        <div id="login" style="visibility:hidden;display:none; ">
        #{if authFailcount == null || authFailcount < 3 }

        #{form @security.BasicSecure.authenticate()}

        #{ifErrors}
           #{errors}
               ${error}
           #{/errors}
        #{/ifErrors}

        <p id="username-field">
            <label for="username">Email : </label>
            <input type="text" name="username" id="username" value="${flash.username}"/>
        </p>

        <p id="password-field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" value=""/>
        </p>
        <!-- p id="remember-field">
              <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
              <label for="remember">&{'secure.remember'}</label>
          </p -->
        <p id="signin-field">
            <input type="submit" id="signin" value="Login"/>
        </p>
        #{/form}
        <p><a href="@{security.BasicSecure.resetPassword()}">Mot de passe oublié</a></p>
        #{/if}
        #{else}
        <p>nombre d'essais depassés</p>
        #{/else}
</div>