#{extends 'main.html' /}
#{set title:'Login' /}

<article>
    <h1>Vous avez oublié votre mot de passe ?</h1>

    <p>Entrez votre adresse email pour recevoir un nouveau mot de passe</p>
    <section class="full">

       #{ifErrors}
           #{errors}
               ${error}
           #{/errors}
        #{/ifErrors}
        #{form @security.BasicSecure.sendResetPassword(),enctype:'multipart/form-data'}
        <table>
            <tr>
                <td><label for="email">Email : </label></td>
                <td><p>#{error 'email' /}</p><input type="email" name="email" id="email" value="${email}" size="20"/>
                </td>
            </tr>
        </table>
        <footer>
            <input type="submit" value="Nouveau mot de passe"/>
        </footer>
        #{/form}

    </section>
</article>