#{form @Pictures.save(),enctype:'multipart/form-data'}
       <table>
           <tr>
                <td><label for="name">Name : </label></td>
                <td><p>#{error 'name' /}</p><input type="text" name="name" id="name" value="${params.name}"
                                                    size="50"/>.jpg</td>
            </tr>
           <tr>
                <td><label for="path">Path : </label></td>
                <td><select name="path" id="path">
                    <option value="ouvrages/">ouvrages</option>
                    <option value="editeurs/">editeurs</option>
                </select>#{error 'path' /}
                </td>
            </tr>
           <tr>
                <td><label for="imageFile">&{'views.livres.add.image.label'}</label></td>
                <td><input type="file" name="imageFile" id="imageFile" multiple="false"
                           accept="image/gif, image/jpeg, image/png"/>
                </td>
            </tr>
           <tr>
                <td> <input type="submit" value="&{'views.livres.add.submit'}"/></td></tr>
       </table>
#{/form}