<!DOCTYPE html>
<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" Content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/template.css'}" />
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/webwidget_rating_simple.css'}" />
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/webwidget_rating_simple.js'}" type="text/javascript" charset="utf-8"></script>
    #{get 'moreScripts' /}
    <!--[if lt IE 9]>
    	<script src="@{'/public/javascripts/html5-ie.js'}" type="text/javascript" charset="utf-8"></script>
    	<link rel="stylesheet" media="all" href="@{'/public/stylesheets/template-ie.css'}" /> 
    <![endif]-->
</head>
<body>
<header>
    <a href="http://www.breizhjug.org/" target="_blank" ><img src="http://www.breizhjug.org/_/rsrc/1214896583171/config/app/images/customLogo/customLogo.gif?revision=4"/></a>

    <h1>
         &{'views.main.title'}
         #{if play.mode.name() == 'DEV'}
         <span class="indice">${play.mode.name()}</span>
        #{/if}
    </h1>
</header>
#{menu user:session.user /}

#{doLayout /}
<footer>&{'views.main.footer'}</footer>
</body>
</html>
